body{
	background-color:#40288d;
}
h1{
		    align-items: center;
			font-family:"FreeMono";
			margin: 15px;
}
h2{
	color:white;
}
.login {
      background-color: floralwhite;
    width: 300px;
    height: 400px;
    border-radius: 50px;
    margin: 100px 381px;
    padding: 23px;
}
input{
	    width: 100%;
		height: 30px;
}
.signin{
		font-family:"FreeMono";
		font-size:20px;
	border:2px solid #40288d;
	background-color:#40288d;
	 width: 100%;
		height: 30px;
		align-items:center;
		padding:1px;
}
button{
	     background-color: #32b9fc;
    width: 191px;
    height: 87px;
    margin: 8px;
    float: left;
}
button:hover{
	 background-color:blue;
	 cursor:pointer;
}
.contentBody{
	background-color:#224aba;
}
.details{
	float:left;
	height:400px;
	width:500px;
}

.options{
	   float: right;
    height: 400px;
    width: 433px;
     padding: 31px 85px;
}
