*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.content{
    width: 1200px;
    margin: 0px auto;
}
h5{
    font-size: 20px;
}
.clearfix::after{
    clear: both;
    display: block;
    content: '';
}
header{
    width: 1200px;
    
}
.logo{
    float: left;
    margin-top: 30px;  
    margin-left: 125px;
}
.logo>svg{
    width: 162px;
    height: 43.4px;

}
.nav{
    31
}
.content-main{
    background-color: antiquewhite;
}
img{
    float: right;
}
.selectors{
    float: left;
    margin: 30px 100px;


}
.selectors>li>button{
    padding: 5px;
}
.selectors>li{
    float: left;
    list-style: none;
    padding: 10px;
    text-transform: capitalize;
   
}
.home{
    color:#FF5300 ;
}
.main{
    width: 100%;
    margin: 15px 130px;
}
.our-services{
    background-color: antiquewhite;
}
.services{
    width: 370px;
    height: 300px;
}