*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.clear::after{
    clear: both;
    display: block;
    content: '';
}
body{
    width: 100%;

}
.container{
    background-color: aqua;
    width: 60%;
    padding: 1%;
}

button{
    width: 150px;
    height: 75px;
    float: left;
    margin: auto;
}